@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
:root {
  --color-primary: #000000;
  --color-white: #fff;
  --color-black: #000;
  --transparent-black: #00000050;
  --transparent-white: #ffffff50;
  --color-alice: aliceblue;
}
* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins";
}
section {
  padding: 100px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  transition: 1s;
  width: 100%;
}
header.sticky {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 15px 80px;
  box-shadow: 0 5px 20px var(--transparent-black);
}
header .sticky ul li a {
  color: var(--color-primary);
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  font-family: "MedievalSharp", cursive;
  border: 2px solid;
  border-left: none;
  padding: 2px 0;
  border-right: none;
}
header ul {
  text-decoration: none;
  position: relative;
  display: flex;
  color: var(--color-white);
}
header ul li {
  position: relative;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}
header ul li a {
  position: relative;
  display: inline;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  padding-left: 20px;
}
.mt {
  margin-top: 1rem;
}
.mt-10 {
  margin-top: 20vh;
}
.cover {
  background-image: url(images/Home.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}
.cover h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--color-white);
  text-decoration: var(--color-primary);
}
.cover h2 span {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--color-white);
}
.cover_text {
  font-size: 1em;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 20px;
}
.btn {
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 30px;
  color: var(--color-white);
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: var(--color-primary);
}
.btn:hover {
  background-color: #ffffff00;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
 .btn_about:hover {
  background-color: var(--transparent-white);
  border: 2px solid var(--color-black);
  color: var(--color-white);
}
.mt-4{
    margin-top: 4rem;
}
.btn_more {
  margin-top: 20px;
  padding: 1rem 2rem;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 2px solid var(--color-white);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #111;
}
.heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content_box h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-black);
  padding-right: 50px;
  text-align: left;
  margin-bottom: 10px;
}
.content_box p {
  text-align: justify;
}
.content_box {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-black);
}
.w50 {
  min-width: 50%;
}
.about_img {
  max-width: 100%;
}
/* .about_text {
  padding-right: 50px;
} */
.text--secondary {
  color: var(--color-white);
}

.skills {
  width: 70vw;
  margin: 2rem auto 0 auto;
  background: var(--transparent-white);
}
.skills--skill {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-bottom: 1rem;
  column-gap: 1rem;
}
.skills--skill h2,
.skills--skill h3 {
  margin: 0.5rem 0;
}
.skills--skill h6 {
  margin: 0.3rem 0;
}
.skills--skill img {
  border-bottom: 2px solid var(--color-black);
  padding: 1rem;
  height: 10rem;
  width: 10rem;
}

.services {
  background-color: #111;
  color: var(--color-white);
}
.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.services .content .service_box {
  padding: 40px 20px;
  max-width: 340px;
  text-align: center;
  background: #222;
  transition: 0.5s;
  margin: 20px;
}
.services .content .service_box:hover {
  background: var(--color-primary);
}
.services .content .service_box img {
  max-width: 100px;
}
.serv {
  color: rgb(255, 255, 255);
}

.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .content .work_box {
  padding: 20px;
  width: 48%;
}
.work .content .work_box img {
  max-width: 100%;
}
/* img.image{
    height: 350px;
} */
.work {
    background-color: var(--color-alice);
}
.work_box{
    background-color:white;
    margin-top: 1rem;
}
/* Project overlay Image */
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.overlay_text {
  background-color: var(--color-primary);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.overlay_text:hover {
  background-color: #ffffff00;
  color: var(--color-primary);
  text-decoration: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.project-info-box{
    margin-top: 1rem;
}
.project_link {
  /* color: white; */
  text-decoration: none;
  font-weight: 500;
}
.project_link:hover {
  color: var(--color-primary);
}

/* Contact form section */
.contact {
  background: #111;
  color: white;
}
.contact .content {
  background: #111;
  color: white;
}
.form_box {
  min-width: 60%;
}
.form_box form {
  display: flex;
  flex-direction: column;
}
.form_box form h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.form_box form input,
.form_box form textarea {
  margin: 20px;
  padding: 15px;
  font-size: 16px;
  background: #222;
  color: #fff;
  border: none;
  outline: none;
  resize: none;
}
.form_box form textarea {
  min-height: 200px;
}
.form_box form input::placeholder,
.form_box form textarea::placeholder {
  color: #999;
}
.form_box form input[type="submit"] {
  max-width: 100px;
  color: #fff;
  background: var(--color-primary);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid var(--color-white);
}
.form_box form input[type="submit"]:hover{
    color: var(--color-black);
    background-color: var(--color-white);
}
.contact_info {
  min-width: 40%;
}
.contact_info_box {
  position: relative;
}
.contact_info_box .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact_info_box .icon {
  display: flex;
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 24px;
}
.contact_info_box .text {
  display: flex;
  font-size: 16px;
  margin-left: 15px;
  flex-direction: column;
}
.contact_info_box .text h3 {
  padding-bottom: 10px;
}
.copyright {
  padding: 20px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.social--icons {
  display: flex;
  flex-direction: row;
}
.social--icons > a {
  color: var(--color-white);
  margin: 0 0.7rem;
}
.social--icons > a:hover {
  transform: scale(1.3);
}
.toggle {
  display: none;
}

.project-name{
    text-align: center;
}
.language-icon{
    display: flex;
    height: 3rem;
}
.language-icon img {
    margin: .4rem;
}
.animatedIn {
  animation-name: textSlideIn;
  animation-duration: 3s;
  transition: ease-in;
}
.animatedDown {
  animation-name: textSlideDown;
  animation-duration: 3s;
  transition: ease-in;
}
.animatedUp {
  animation-name: textSlideUp;
  animation-duration: 3s;
  transition: ease-in;
}
.animatedGrow {
  animation-name: textGrow;
  animation-duration: 3s;
  transition: ease-in;
}
@media (min-width: 990.99px){
  .about_text {
    margin-right: 50px;
  }
}
/* Responsiveness */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 15px 50px;
    z-index: 1000;
    width: 100%;
  }
  .nav {
    position: fixed;
    top: 62px;
    left: -100%;
    padding: 50px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: var(--color-primary);
    z-index: 999;
    transition: 0.5s;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  .nav.active {
    left: 0;
    cursor: pointer;
  }
  header ul li{
      padding: 1.2rem 0;
  }
  header ul li a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .toggle {
    cursor: pointer;
    display: initial;
  }
  .toggle .active {
    cursor: pointer;
  }

  section {
    padding: 80px 50px;
  }
  .cover {
    width: 100%;
    padding: 100px 50px 100px;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
  }
  .cover h2 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5em;
    color: #fff;
    text-decoration: var(--color-primary);
    /* background: #9D95E080;*/
  }
  .cover h2 span {
    font-size: 1.25em;
    font-weight: 700;
    color: #fff;
  }
  .cover_text {
    font-size: 1.25em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
    /* background: #9D95E080;*/
  }
  .btn {
    text-decoration: none;
    margin-top: 20px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    border-radius: 10px;
    border: 1px solid white;
  }

  .btn_more {
    text-decoration: none;
    margin-top: 20px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    border-radius: 10px;
    border: 2px solid white;
  }

  .content {
    flex-direction: column;
  }
  .content_box h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 0;
  }
  .content_box .about_text {
    text-align: justify;
  }
  .about_text {
    margin-right: 0px;
  }
  .content_box {
    font-size: 14px;
    color: rgb(0, 0, 0);
  }
  .text_box {
    margin-top: 100px;
    background: #9d95e000;
    padding-bottom: 10px;
  }
  .image_box .w50 {
    min-width: 50%;
    margin-top: 10px;
  }
  .heading h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .about_img {
    max-width: 100%;
    margin-top: 10px;
  }
  .about_text {
    margin-right: 0;
  }
  .services .content .service_box {
    padding: 40px 20px;
    max-width: 340px;
    text-align: center;
    background: #222;
    transition: 0.5s;
    margin: 5px;
  }
  .work .content .work_box {
    padding: 10px;
    width: 100%;
  }
  h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
  }
 
  .middle {
    transition: 0.5s ease;
    opacity: 1;
    position: absolute;
    top: 95%;
    left: 50%;
    padding-bottom: 1rem;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
  }
  .overlay_text{
    background-color: #ffffff00;
    color: var(--color-primary);
    text-decoration: var(--color-primary);
    border: 2px solid var(--color-primary);
  }
  .language-icon{
      margin-bottom: 4rem;
  }
  .contact_info {
    margin: 20px 0;
  }
  .copyright {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .copyright p {
    margin-top: 1rem;
  }
  .skills--skill {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .cover {
    background: linear-gradient(
        to left,
        rgba(39, 39, 39, 0.9),
        rgba(39, 39, 39, 0.2)
      ),
      url(images/Home.jpg) right top;
  }
  .about_text {
    margin-right: 0px;
  }
}
@media (max-width: 740px) {
  .skills--skill {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills--skill img {
    border-bottom: 2px solid var(--color-black);
    padding: 1rem;
    height: 7rem;
    width: 7rem;
  }
}

@media (max-width: 600px) {
  header,
  header.sticky {
      padding: 15px 20px;
    width: 100%;
}
.about_text {
  margin-right: 0px;
}
  .cover {
    width: 100%;
    padding: 150px 20px 100px;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cover {
    background: linear-gradient(
        to left,
        rgba(39, 39, 39, 0.9),
        rgba(39, 39, 39, 0.2)
        ),
        url(images/Home.jpg) right 100vh;
    }
    .cover_text {
        font-size: 1em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
}
.cover h2 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    color: #fff;
    text-decoration: var(--color-primary);
}
.cover h2 span {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
  }
  .toggle {
    cursor: pointer;
    display: initial;
}
  .btn {
      text-decoration: none;
      margin-top: 20px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    border-radius: 10px;
    border: 2px solid white;
}
.about_text {
  margin-right: 0px;
}
}

@media (max-width: 500px) {
  .skills--skill {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills--skill img {
    border-bottom: 2px solid var(--color-black);
    padding: 1rem;
    height: 7rem;
    width: 7rem;
  }
  .middle{
      width: 80%;
  }
  .small {
      font-size: 12px;
  }
  .about_text {
    margin-right: 0px;
  }
}


@keyframes textSlideIn {
  0% {
      margin-left: -100%;
  }
  
  100% {
      margin-right: 0;
  }
}
@keyframes textSlideUp {
  0% {
      margin-top: -15%;
  }
  
  100% {
      margin-top: 0%;
  }
}
@keyframes textSlideDown {
  0% {
      margin-bottom: -100%;
  }
  
  100% {
      margin-bottom: 0%;
  }
}
@keyframes textGrow {
  0% {
      transform: scale(0.5);
  }
  
  100% {
      transform: scale(1);
  }
}